* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
    -webkit-user-select: none;

}

body::-webkit-scrollbar {
    display: none;
}

header {
    height: 64px;

}

.zone-wrapper {
    width: 100%;
    height: 797px;
    display: flex;
    justify-content: space-between;
}

.zone-wrapper2 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.container3 {
    position: relative;
    display: flex;
    padding: 380px 140px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}
img {
    width: 350px;
    height: 180px;  

}

.ccard {
    position: relative;
    width: 700px;
    height: 380px;
    background: #181818;
    transition: 0.5s;
    
}

.ccard:hover {
    height: 800px;
    width: 1300px;


}

.ccard .lines {
    position: absolute;
    inset: 0;
    background: #181818;
    overflow: hidden;
    
}

.ccard .lines::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3200px;
    height: 140px;
    background: linear-gradient(transparent,#FF4431,#FF4431,#FF4431, transparent);
    animation: animatee 3s linear infinite;
    animation-play-state: paused;
}

.ccard:hover .lines::before {
    animation-play-state: running;
}

@keyframes animatee 
{
    0%
    {
        transform: translate(-50%,-50%) rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100%
    {
        transform: translate(-50%,-50%) rotate(360deg);
        filter: hue-rotate(360deg);
    }

}

.ccard .lines::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: #1D1D1D;

}


.ccard .imgbx {
    position: absolute;
    top: -60px;
    left: 50%;   
    width: 200px;
    height: 200px;
    transform: translateX(-50%);
    background: #181818;
    transition: 0.5s;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ccard:hover .imgbx {
    top: 25px;
    width: 400px;
    height: 400px;
}

.ccard .imgbx::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1000px;
    height: 150px;
    transform: translate(-50%, -50%);
    background: linear-gradient(transparent,#FF4431,#FF4431,#FF4431, transparent);
    animation: animate2 6s linear infinite;
    animation-play-state: paused;
}

.ccard:hover .imgbx::before {
    animation-play-state: running;

}

.ccard .imgbx::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: #1D1D1D;
}

.ccard .imgbx img {
    position: absolute;
    height: 192px;
    width: 192px;
    z-index: 1;
    opacity: 0.5s;
    transition: 0.5s;
}

.ccard:hover .imgbx img {
    opacity: 1;
    height: 392px;
    width: 392px;
}

.ccard .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.ccard .content .details {
    padding: 90px 60px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(190px);

}

.ccard:hover .content .details {
    transform: translateY(0px);

}

.ccard .content .details h2 {
    font-size: 6em;
    font-weight: 800;
    color: #FF4431;
    line-height: 1.2em;
    text-transform: uppercase;
    transition: 0.5s;
}
.ccard:hover .content .details h2 {
    font-size: 4em;

}

.ccard .content .details p {
    color: #909096;
    opacity: 0;
    transition: 0.5s;
    font-size: 2em;

}

.ccard:hover .content .details p {
    opacity: 1;
    font-weight: 700;

}



@keyframes animate2
{
    0%
    {
        transform: translate(-50%, -50%) rotate(360deg);  
        filter: hue-rotate(0deg);  
    }
    100%
    {
        transform: translate(-50%, -50%) rotate(0deg);
        filter: hue-rotate(360deg);    
    }
}



.particles {
    width: 100%;
    height: 100%;

}

body {
    background-color: #1D1D1D;
    font-family: "inter";
    font-size: small;
    cursor: pointer;
    cursor: none;
}

body::-webkit-scrollbar {
        width: 15px;
}
    
body::-webkit-scrollbar-track { 
    background-color: #181818

}
body::-webkit-scrollbar-thumb {
    background-color: #FF4431;
    border-radius: 25px;
    border: 4px solid #181818;

}

.main-menu {
    width: 100%;
    background-color: #181818;
    height: 4rem;
    position: fixed;
    top: 0;
    right: auto;
    bottom: 0;
    display: flex;
    z-index: 3;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    z-index: 100;
    max-width: 1920px;
}

.main-menu-nav {
    margin-right: 545px;
    z-index: 100;
}



ul {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

ul li {
    position: relative;
    list-style: none;
}

ul li a {
    position: relative;
    font-size: medium;
    text-decoration: none;
    line-height: 1.3em;
    letter-spacing: 2px;
    color: transparent;
    -webkit-text-stroke: 1px #909096;
}   

ul li a::before {
    content: attr(data-text);
    position: absolute;
    color: #FF4431;
    width: 0%;
    overflow: hidden;
    transition: 1s;
}

ul li a:hover::before {
    width: 100%;
    -webkit-text-stroke: 1px #FF4431;
    filter: drop-shadow(0 0 15px #FF4431);
}


.logo {
    margin-top: 20px;
    width: 75px;
    height: 75px;
    
    
    
}

.social  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;

}

.git {
    width: 32px;
    height: 32px;
}

.rss {
    width: 48px;
    height: 17px;
}

.dis {
    width: 33px;
    height: 25px;
}

.git:hover,.dis:hover,.rss:hover {
    transition: 1s;
    filter: drop-shadow(0 0 20px #FF4431);
    scale: 1.3;
}

.cursor {
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid #909096;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .13s;
    z-index: 10000000000000000000;
  }
  
.cursor2 {
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: #909096;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .146s;
    z-index: 1000000000000000000;
  }


.text-zone {
    background-color: #1D1D1D;
    color: #fff;
    font-size: 4rem;
    width: 50%;
    height: 550px;
}

.txt {
    margin-top: 216px;
    line-height: 120px;
    margin-left: 210px;
}

.h2 {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 216px;
    color: #909096;
    transition: 1s;
    width: 325px;
    
}

.h2:hover {
    color: #FF4431;
    filter: drop-shadow(0 0 20px #FF4431);
}

.but {
    font-size: 1.5rem;  
    margin-top: 20px;
    margin-left: 216px;
    transition: 0.5s;
    background-color: #1D1D1D;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    border: 1px solid #FF4431;
    

}


a {
    position: relative;
    text-decoration: none;
    color: #FF4431;
        
}


.but:hover {
    letter-spacing: 0.25em;
    background-color: #FF4431;  
    color: #1D1D1D;
    box-shadow: 0 0 35px #FF4431;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    min-height: 1007px;
    background-color: #1D1D1D;

}

section::before {
    content: "";
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    height: 50px;
    background: #FF4431;

}



.container {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-container {
    max-width: 1920px;
    margin: 0 auto;
}


.container .card {
    position: relative;
    width: 250px;
    height: 300px;
    text-align: center;
    z-index: 10;
    margin: 20px 20px 60px;
}

.container .card .box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255,255,255,0.1);
    z-index: 10;
    border-radius: 10px;
}

.percent {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 100;
}

.percent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percent .number h2 {
    color: #C4C4D2;
    font-weight: 700;
    font-size: 50px;
}
.percent .number h2 span {
    font-size: 24px;
}
.text {
    position: absolute;
    bottom: -42px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 30px 20px 10px;
    background: #FF4431;
    border-radius: 10px; 
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    z-index: 1;
    pointer-events: none;
    transition: bottom 0.5s, z-index 0s, transform 0.5s, padding 0.5s;
    transition-delay: 0.5s,0.5s,0s,0.5s;
    color: #1D1D1D;
}
.card:hover .text {
    transition-delay: 0s,0.5s,0.5s,0s;
    bottom: -70px;
    z-index: 11;
    transform: translateX(-50%) translateY(-50px);
    padding: 10px 20px 10px;
}
.card:nth-child(1) .text {
    background: #FF4431;

}
.card:nth-child(2) .text {
    background: #2bd2ff;

}
.card:nth-child(3) .text {
    background: #F7E128;

}

svg {
    position: relative;
    width: 150px;
    height: 150px;

}
svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10;
    stroke: rgba(255,255,255,0.05);
    transform: translate(5px,5px);
    stroke-linecap: round;
}

svg circle:nth-child(2){
    stroke: #909096;
    stroke-dasharray: 440px;
    stroke-dashoffset: 440px;
}

.card:nth-child(1) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440px - (440px * 90) / 100);
}
.card:nth-child(2) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440px - (440px * 75) / 100);
}
.card:nth-child(3) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440px - (440px * 50) / 100);
}
.h1skil{
    color: #909096;
    z-index: 1000000;
}

.rating {
    width: 200px;
    height: 41px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    padding: 15px 20px;
    border: 3px solid #111;
    border-radius: 30px;
    gap: 4px;
    background-color: #1D1D1D;
    margin-left: 100px;
    margin-right: 450px;
}
.rating:nth-child(1) {
    transform: translateX(-80px);

}
.rating input {
    position: relative;
    width: 40px;
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    -webkit-appearance: none;

}

.rating input::before {
    content: "\f005";
    position: absolute;
    font-family: fontAwesome;
    font-size: 20px;
    color: #909096;
    transition: 0.5s;
}

.rating input:hover ~ input::before, 
.rating input:hover::before,
.rating input:checked ~ input::before,  
.rating input:checked::before {
    color: #FF4431;
}

input[type="checkbox"] {
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    outline: none;
    background: #FF4431;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    margin-right: 20px;
}

input:checked[type="checkbox"] {
    background: #c6c6c6;
    
}

input[type="checkbox"]:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    transition: 0.5s;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

input:checked[type="checkbox"]:before {
    left: 1725px;
}

.wrapper {
    display: flex;
    align-items: center;
    width: 200px;
}

.tema {
    color: #909096;
    font-size: large;
    font-weight: 600;
}

.loader {
    position: relative;
    margin-right: 300px;
    margin-top: 250px;
    transform: skewY(-15deg) translateX(50px) translateY(50px);
    animation: animateColor 2.5s linear infinite;
}

@keyframes animateColor

{
    0%
    {
        filter: hue-rotate(0deg);
    }
    100%
    {
        filter: hue-rotate(360deg);  
    }
}

.loader::before {
    content: '';
    position: absolute;
    top: 300px;
    width: 300px;
    height: 200px;
    background: rgba(0,0,0,0.1);
    transition: 0.5s;
    transform: skewX(45deg);
    filter: blur(20px);

}

.loader span {
    position: relative;
    width: 200px;
    height: 40px;
    display: block;
    background: #3e3f46;
    transition: 0.5s;
    z-index:  var(--i);
    animation: animate 5s ease-in-out infinite;
    animation-delay: calc(-0.65s * var(--i));
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes animate
{
    0%,100%
    {
        transform: translateX(-70px);
    }
    50%
    {
        transform: translateX(70px);
    }
}



.loader span:hover {
    background: #FF4431;
    transition: 0s;
    filter: drop-shadow(0 0 10px #FF4431);
    

}

.loader span::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150px;
    height: 100%;
    width: 150px;
    background: #2e3133 ;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
    

}

.loader span:hover::before {
    background: #992A1F;
    transition: 0s;
    filter: drop-shadow(0 0 10px #FF4431);

    
}

.loader span::after {
    content: '';
    position: absolute;
    top: -150px;
    left: 0;
    width: 100%;
    height: 150px;
    background: #f00;
    transform-origin: bottom;
    transform: skewX(45deg);
    background: #35383e;
    transition: 0.5s;

}

.loader span:hover::after {
    background: #CC3A2B;
    transition: 0s;
    filter: drop-shadow(0 0 10px #FF4431);

}

.spanit {
    color: #909096;
    font-size: large;
    font-weight: 800;

}

footer {
    position: relative;
    width: 100%;
    background: #FF4431;
    z-index: 100000000;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rss {
    width: 80px;
    height: 26px;
    transition: 0.7s;
}

footer .social-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social-icon li {
    list-style: none;
    
}

footer .social-icon li a {
    font-size: 2em;
    color: #111;
    margin: 0 10px;
    display: inline-block;
    transition: 0.7s;
}

footer .social-icon li a:hover {
    transform: translateY(-10px);
}

footer p {
    color: #111;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: 500;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animatewave 5s linear infinite;
}
footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animatewave_02 5s linear infinite;
}
footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animatewave 4s linear infinite;
}
footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animatewave_02 4s linear infinite;
}

@keyframes animatewave
{
    0%
    {
       background-position-x: 1000px; 
    }
    100%
    {
        background-position-x: 0px; 
    }
}

@keyframes animatewave_02
{
    0%
    {
       background-position-x: 0px; 
    }
    100%
    {
        background-position-x: 1000px; 
    }
}

.body2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 1120px;
    background: #1D1D1D;
}

.container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 40px 0;
}

.container4 .card2 {
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2), inset -5px -5px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.3), -5px -5px 15px rgba(255,255,255,0.1);
    border-radius: 15px;
    margin: 30px;

}



.container4 .card2 .box2 {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #1D1D1D;
    border: 2px solid #1e1f23;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container4 .card2 .box2::before {
    content: "";
    position: absolute;
    pointer-events: none;
}

.container4 .card2 .box2:hover {
    transform: translateY(-50px);
    box-shadow: 0 40px 70px rgba(0,0,0,0.5);

}

.container4 .card2 .box2 .content2 {
    padding: 20px;
    text-align: center;
}

.container4 .card2 .box2 .content2 h2 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(255,255,255,0.05);
}

.container4 .card2 .box2 .content2 h3 {
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
    transition: 0.5s;
}

.container4 .card2 .box2 .content2 p {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    z-index: 1;
    transition: 0.5s;
}

.container4 .card2 .box2 .content2 a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #FF4431;
    margin-top: 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    transition: 0.5s;

}

.container4 .card2 .box2 .content2 a:hover {
    scale: 1.2;
    filter: drop-shadow(0 0 15px #FF4431);

}

.contactbody {
    background: #1D1D1D;
}

.contactus {
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.contactus .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.contactus .title h2 {
    color: #909096;
    font-weight: 500;    
}

.form {
    grid-area: form;
}
.map{
    grid-area: map;
}

.contact {
    padding: 40px;
    background: #181818;
    box-shadow: 0 5px 35px rgba(0,0,0,0.15);
}

.boxx {
    position: relative;
    display: grid;
    grid-template-rows: 7fr 4fr;
    grid-template-areas:"form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.contact h3 {
    color: #909096;
    font-weight: 500;
    font-size: 1.4EM;
    margin-bottom: 10px;
}

.formbox {
    position: relative;
    width: 100%;
}

.formbox .row50 {
    display: flex;
    gap: 20px;
}

.inputbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.formbox .row100 .inputbox {
    width: 100%;
}

.inputbox span {
    color: #909096;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;

}

.inputbox input {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #111;  
}

.inputbox textarea {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #111; 
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}

input, textarea {
    background-color: #1D1D1D;
    color: #909096;
}

.inputbox input[type="submit"] {
    background: #FF4431;
    color: #fff;
    border: none;
    font-size: 1.3em;
    max-width: 120px;
    font-weight: 500;
    padding: 14px 15px;
}

.inputbox ::placeholder {
    color: #909096;
}

.map {
    padding: 0;
}

.map iframe {
    width: 100%;
    height: 100%;
}










